<section class="titleDetail">
<div class="wrapper">
<div ng-model="rcw" style="text-align:center; margin:2% 12% 4% 12%;">
	<h3>Title {{rcw[whichTitle].titleNumber}}: {{rcw[whichTitle].titleDescription}}</h3>
	<hr/>
	<div>
		<ul class="list-group" style="list-style:none;">
			<li ng-repeat="items in rcw[whichTitle].chapter">
			<a href="#/chapterDetail/{{rcw.indexOf(items)}}" style="cursor:pointer;">
			<h4>Chapter {{items.chapterNumber}}: {{items.chapterDescription}}</h4>
			<hr/>
			</a>
			</li>
		</ul>
	</div>
	<div>
	<h4>Notes:</h4>
	
		<p style="text-align:left;">{{rcw[whichTitle].titleNotes}}</p>
	</div>
	<a href="index.html"><button class="btn btn-default">Back to Search</button></a>
</div>
</div>
</section>