<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.noah.rcwCode"
	version     = "0.5.0" 
	versionCode = "0">


	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="Orientation" value="portrait" />
<!-- versionCode is optional and Android only -->

  	<name>RCW</name>

  <description>
      RCW: Revised Codes for the State of Washington
  </description>

  
  <platform name="android">
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xxhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="fr-xxhdpi" />	
	</platform>
	<platform name="ios">
	</platform>
  
  <author email="parkoo.staff@gmail.com">
      Noah Hebert
  </author>

</widget>

