<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.hebert.rcw"
	versionCode = "10"
    version     = "0.0.1" >

	<preference name="phonegap-version" value="cli-6.3.0" />
<!-- versionCode is optional and Android only -->

  	<name>RCW</name>

  <description>
      RCW Codes for the State of Washington
  </description>

  
  <platform name="android">
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xxhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="fr-xxhdpi" />	
	</platform>
  
  <author email="parkoo.staff@gmail.com">
      Noah Hebert
  </author>

</widget>

