<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.rcw"
	version     = "0.0.1" 
	versionCode = "1">
    

<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="Orientation" value="portrait" />
<!-- versionCode is optional and Android only -->

  	<name>Codes</name>

  <description>
      Codes for the State 
  </description>

  
  <platform name="android">
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="xxhdpi" />
		<icon src="images/Icon.jpg" gap:platform="android" gap:qualifier="fr-xxhdpi" />	
	</platform>
  
  <author email="aff@gmail.com">
      Aman Rodgins
  </author>

</widget>

